

    <!-- first parallax image -->
    <div class="pimg1">
      <div class="ptext">
        <span class="border1">
          A Tribute to Anthony Boudain
        </span>
      </div>
    </div>

    <!-- first section  -->
    <div class="grid-wrapper">
      <section class="section cell-one">
        <h2>Quotes Section</h2>
        <p>
          this will pull quotes from gears.js
        </p>
      </section>
<section class="section cell-two">
{{#if show_media}}
{{#each show_media}}
<img src="{{this}}">
{{/each}}
{{else}}
<p>No photos found</p>
{{/if}}
</section>

      <section class="section cell-three">
        <p>twitter feed</p>
      </section>
    </div>


    <!-- second parallax image -->
    <div class="pimg2">
      <div class="ptext">
        <span class="border2">
          To Food, To Travelling, To Culture
        </span>
      </div>
    </div>

    <!-- second section  -->
    <section class="section">
      <h2>a shining example</h2>
      <p>
        Blah blah bald eagle american spangled banner flag russia fifa penalty kicks went to over time and lost and now it's time to go home.
      </p>
    </section>

