body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
/* font font-family:  */
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.parallaxOne,
.parallaxTwo {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 0.70;

}

.parallaxOne {
  background-image: url(images/first.jpeg);
  min-height: 100%;
}

.parallaxTwo {
  background-image: url(images/vietnam.jpg);
  min-height: 600px;
}

section {
  text-align: center;
  padding: 25px 25px;
  background-color: #f4f4f4;
  color: #666;
}

.titleText {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 24px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/*Text over the parallax images*/

.titleText .bannerOne {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.titleText .bannerTwo {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

/* Grid setup for desktop*/

.grid-wrapper {
  display: grid;
  background: #f4f4f4;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "quotes pics pics tweets"
  "quotes pics pics tweets";
}

/* Grid Template Areas setup*/

.cell-one {
  grid-area: quotes;
  align-self: center;
}

.cell-two {
  grid-area: pics;
  align-self: center;
}

.cell-three {
  grid-area: tweets;
  align-self: center;
}

/*Grid setup for medium devices*/

@media only screen and (max-width: 750px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "quotes pics pics"
    "tweets tweets tweets";
  }

  .titleText .bannerTwo {
    display: none;
  }
}

/*Grid setup for small devices*/
@media only screen and (max-width: 600px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "quotes"
    "pics"
    "tweets";
  }

  .titleText .bannerTwo {
    display: none;
  }
}

/* Resize Tweet icon*/

.tweetIcon {
  font-size: 50px;
  color: #1DA1F2;
}

/* Tweet Images in cell-two */

.tweetImage {
  display: block;
  max-width: 300px;
  max-height: 300px;
  padding: 50px 0px;
  transition: transform .5s;
  margin: 0 auto;
}

.tweetImage:hover {
	transform: scale(1.25);
}

/* Tweet text styling */

.tweetText {
  padding: 0 25px;
}

.tweetUser {
  border-bottom: 2px solid #455a64;
}
